body, p{
	font-family: 'Open Sans', sans-serif;
	color: #686963;
	font-size: 13px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', sans-serif !important;
	color: #686963;
}

.navbar_logo{
	max-width: 230px;
}

.link{
	color: #707070;
}

.link:hover {
    color: #e56353;
}

.head{
	background-color: #E56353;
	border-radius: 0;
	margin: 0;
}

.head_text_light{
font-weight: 200;
color: #fff;
}

.head_text_bold{
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

.head_text_medium{
	font-weight: 700;
	color: #fff;
}

.info{
	padding: 0;
}

.info_inner_primary, .info_inner_secundary, .info_inner_secundary_grey, .info_inner_primary_grey{
	float: left;
	padding:0;
}

.info_inner_secundary{
    background-color: #707070;
    padding-top: 12vh;
    padding-left: 10vh;
    padding-right: 5vh;
        height: 61.5vh;
}

.info_title{
	font-weight: 700;
}

.info_title, .info_text{
	color: #fff;
}

.info_inner_secundary_grey{
	padding-top: 18vh;
	padding-bottom: 17vh;
	padding-left: 10vh;
	padding-right: 5vh;
}

.info_title_grey{
	font-weight: 700;
}

.info_title_grey, .info_text_grey{
	color: #686963;
}

.us{
	margin: 10%;
}

.us_inner{
	float: left;
}

.us_inner_img{
	max-width: 300px;
}

.us_inner_title{
	font-weight: 700;
}

.head_btn{
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
	color: #686963;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 40px;
	width: 25%;
}

.head_btn:hover{
	color: #686963;
}

.foot{
	background-color: #686963;
	padding: 7vh;
	height: 25vh;
}

.foot_inner{
	float: left;
	text-align: center;
}

.foot_logo{
	max-width: 200px;
}

.foot_rrss{
	background-color: #fff;
	border-radius: 30px;
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 12px;
	margin: 10px;
}

.foot_rrss i{
	color: #686963

}

.foot_menu ul li {
	text-decoration: none;
	list-style: none;
	color: #fff;
	text-align: left;

}

@media (min-width: 0px) and (max-width: 575px){
.info_inner_primary_grey{
	display: none;
}

.us {
    margin: 5%;
}

.us_inner_title {
    margin-top: 20px;

 }

 .head_btn {
    width: 100%;
}

.foot {
    height: 45vh;
    padding: 7vh 3vh;
}

.foot_menu ul{
	padding-left: 0;
}

.foot_menu ul li{
	display: inline;
	padding-right: 10px;
}
}

@media (min-width: 576px) and (max-width: 767px){
.info_inner_primary_grey{
	display: none;
}

.us_inner_title {
    margin-top: 20px;

 }

 .head_btn {
    width: 80%;
}

.foot {
    height: 45vh;
    padding: 7vh 3vh;
}

.foot_menu ul{
	padding-left: 0;
}

.foot_menu ul li{
	display: inline;
	padding-right: 10px;
}
}

@media (min-width: 768px) and (max-width: 991px){

.info_inner_primary {
    display: none;
}

.us {
    margin: 3%;
}

.foot {
    height: 45vh;
    padding: 7vh 3vh;
}

.foot_menu ul{
	padding-left: 0;
}

.foot_menu ul li{
	display: inline;
	padding-right: 10px;
}
}


@media (min-width: 992px) and (max-width: 1299px){ ... }


@media (min-width: 1200px) { ... }